<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 ms-4 me-auto text-dark text-decoration-none">
        <span class="fs-4">Главная</span>
        <!-- TODO: logo -->
    </a>

    <ul class="nav nav-pills me-4">
        {#            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>#}
        {#            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>#}
        {#            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>#}
        {#            <li class="nav-item"><a href="#" class="nav-link">About</a></li>#}
        {% if request.user.is_authenticated %}
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Профиль</a></li>
        {% else %}
            <li class="nav-item me-3"><a href="{% url 'login_page' %}" class="nav-link active" aria-current="page">Войти</a></li>
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Регистрация</a></li>
        {% endif %}
    </ul>
</header>
